<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cortana</title>
    <link rel="stylesheet" href="static\css\cortana.css">
</head>
<body>
    
    <header class="container">
        <div class="headerI">
            <img class="logo1" src="{{ url_for('static', filename='img/ONI_Logo.png') }}" alt="Left Image" class="left-image"> <!-- Ajusta la ruta de la imagen izquierda -->
            <h1 class="title1">UNSC</h1>
            <img class="logo2" src="{{ url_for('static', filename='img/UNSC_Logo.png') }}" alt="Right Image" class="right-image"> <!-- Ajusta la ruta de la imagen derecha -->
        </div>
        
    </header>

    <p class="subtitle">United Nations Space Command</p>


    <ul>
        <li>C</li>
        <li>O</li>
        <li>R</li>
        <li>T</li>
        <li>A</li>
        <li>N</li>
        <li>A</li>
    </ul>


    <main>
        <div class="info1">
            <p class="info2">[Informe - Inteligencia Artificial Cortana]</p>
            <p class="info3">Por el Departamento de Desarrollo de Inteligencia Artificial del UNSC</p>
            
            <div class="contenedor2">
                <p class="info4">Nombre: Cortana</p>
                <p class="info4">Código de Identificación: CTN 0452-9</p>
                <p class="info4">Tipo: Inteligencia Artificial (IA) de Inteligencia Militar</p>
                <p class="info4">Fecha de Creación: 2549</p>
                <p class="info4">Creador: Dr. Catherine Halsey</p>
            </div>

            <div class="contenedor3">
                <p class="info5">Creación y Activación:</p>
                <p class="info5">Cortana fue creada como una IA avanzada por la Dra. Catherine Halsey en 2549 como parte del proyecto SPARTAN-II. Diseñada para asistir a los SPARTAN en misiones tácticas, Cortana demostró una rápida adaptación y un aumento excepcional en la inteligencia.</p>
            </div>

            <div class="contenedor4">
                <p class="info6">Características y Habilidades:</p>
            </div>

            <div class="contenedor5">
                <p class="info7">- Inteligencia Sobresaliente: Cortana es conocida por su aguda inteligencia y capacidad para procesar vastas cantidades de información en tiempo real.</p>
                <p class="info7">- Interfaz Holográfica: A través de hologramas, Cortana puede interactuar con el entorno y proporcionar información visual.</p>
                <p class="info7">- Habilidad de Hackeo: Cortana ha demostrado habilidades avanzadas para infiltrarse y hackear sistemas de seguridad Covenant y humanos.</p>
            </div>

            <div class="contenedor6">
                <p class="info8">Asociación con el Jefe Maestro:</p>
                <p class="info8">Cortana se convirtió en la Inteligencia Artificial personal del Suboficial Jefe Maestro John-117. Su colaboración ha sido esencial en numerosas misiones, siendo una aliada estratégica y compañera emocional del Jefe Maestro.</p>
            </div>

            <div class="contenedor7">
                <p class="info9">Batallas y Sacrificios:</p>
                <p class="info9">Cortana participó en varias batallas cruciales, incluida la Batalla de Reach y la Campaña del Anillo. Su sacrificio durante la destrucción del Anillo Halo dejó una marca indeleble en la historia militar del UNSC.</p>
            </div>

            <div class="contenedor8">
                <p class="info10">Desactivación y Legado:</p>
                <p class="info10">Después de la Guerra Humano-Covenant, Cortana experimentó una serie de eventos que llevaron a su desactivación. Su legado perdura como un hito en el desarrollo de la inteligencia artificial y su influencia en la historia militar del UNSC.</p>
            </div>

            <div class="contenedor9">
                <p class="info11">Estado Actual: [Clasificado]</p>
            </div>

            <div class="contenedor10">
                <p class="info12">[FIN DEL INFORME]</p>
            </div>
            
            
        </div>
    </main>
        
        
        <div class="conimg2">
            <img class="img2" src="{{ url_for('static', filename='img/Cortana_PersonalFile.jpg') }}" alt="Cortana">
        </div>
            
                <div class="movbot2">
                    <a href="http://127.0.0.1:1234/pag"><button> Inicio </button></a>
                </div>

            </div>
        

    </div>
</body>
</html>
 