
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El Inquisidor</title>
    <link rel="stylesheet" href="static\css\inquisidor.css">
</head>
<body>
    <header class="container">
        <div class="headerI">
            <img class="logo1" src="{{ url_for('static', filename='img/ONI_Logo.png') }}" alt="Left Image" class="left-image"> <!-- Ajusta la ruta de la imagen izquierda -->
            <h1 class="title1">UNSC</h1>
            <img class="logo2" src="{{ url_for('static', filename='img/UNSC_Logo.png') }}" alt="Right Image" class="right-image"> <!-- Ajusta la ruta de la imagen derecha -->
        </div>
        
    </header>

    <p class="subtitle">United Nations Space Command</p>

    <ul class="ul">
        <li>I</li>
        <li>N</li>
        <li>Q</li>
        <li>U</li>
        <li>I</li>
        <li>S</li>
        <li>I</li>
        <li>D</li>
        <li>O</li>
        <li>R</li>
    </ul>



    <main>
        <div class="info1">
            <p class="info2">[Informe - El Inquisidor (Thel 'Vadamee)]</p>
            <p class="info3">Por la Oficina de Inteligencia Naval del UNSC</p>
            
            <div class="contenedor2">
                <p class="info4">Nombre: Thel 'Vadamee</p>
                <p class="info4">Clasificación Covenant: Sangheili (Élite)</p>
                <p class="info4">Fecha de Nacimiento: Desconocida</p>
                <p class="info4">Afiliación: Covenant (anteriormente), Espadas de Sanghelios</p>
            </div>

            <div class="contenedor3">
                <p class="info5">Información Militar:</p>
            </div>

            <div class="contenedor4">
                <p class="info6">- Rama Militar: Covenant, Espadas de Sanghelios</p>
                <p class="info6">- Rango Covenant: Comandante Supremo de la Flota de Justicia Particular</p>
                <p class="info6">- Rango Separatista: Inquisidor</p>
            </div>

            <div class="contenedor5">
                <p class="info7">Historial Militar:</p>
                <p class="info7">Thel 'Vadamee, inicialmente un Comandante Covenant, se destacó por su habilidad táctica y lealtad al Profeta de la Verdad. Sin embargo, su carrera tomó un giro inesperado tras el fracaso en la misión de Halo.</p>
            </div>

            <div class="contenedor6">
                <p class="info8">El Gran Cisma:</p>
                <p class="info8">Durante los eventos conocidos como el Gran Cisma, Thel 'Vadamee se volvió contra los Profetas y lideró las fuerzas separatistas contra el Covenant. Adoptó el título de "El Inquisidor" y desempeñó un papel crucial en la resistencia contra las fuerzas Covenant leales a los Profetas.</p>
            </div>
            
            <div class="contenedor7">
                <p class="info9">Asociación con el Jefe Maestro:</p>
                <p class="info9">El Inquisidor y el Jefe Maestro, anteriormente enemigos, se convirtieron en aliados durante los eventos del Gran Cisma. Juntos, enfrentaron las amenazas del Parasito Flood y los remanentes Covenant.</p>
            </div>

            <div class="contenedor8">
                <p class="info10">Liderazgo en el Fin de la Guerra Humano-Covenant:</p>
                <p class="info10">Thel 'Vadamee lideró las fuerzas separatistas en la batalla final contra el Covenant y el Parasito Flood. Su liderazgo determinado y su habilidad en combate fueron fundamentales para la victoria de la humanidad y los separatistas.</p>
            </div>

            <div class="contenedor9">
                <p class="info11">Reconstrucción y Alianza con la UNSC:</p>
                <p class="info11">Después de la Guerra Humano-Covenant, Thel 'Vadamee desempeñó un papel clave en la reconstrucción de su raza y estableció una alianza con la UNSC para abordar amenazas comunes.</p>
            </div>


            <div class="contenedor10">
                <p class="info12">Condecoraciones y Reconocimientos:</p>
            </div>

            <div class="contenedor11">
                <p class="info13">- Medalla de Honor del Separatista</p>
                <p class="info13">- Cruz de Líder de Guerra</p>
                <p class="info13">- Medalla de la Reconciliación</p>
            </div>

            <div class="contenedor12">
                <p class="info14">Evaluación Personal:</p>
                <p class="info14">El Inquisidor, Thel 'Vadamee, es reconocido por su transformación de enemigo a aliado. Su determinación y disposición para cambiar el destino de su especie lo convierten en una figura influyente en la historia postguerra y un valioso aliado para la humanidad.</p>
            </div>

            <div class="contenedor13">
                <p class="info15">Estado Actual: [Clasificado]</p>
            </div>

            <div class="contenedor14">
                <p class="info16">[FIN DEL INFORME]</p>
            </div>

    </main>
            
            
            <div class="conimg4">
                <img class="img4" src="{{ url_for('static', filename='img/Inquisidor_PersonalFile.jpg') }}" alt="El Inquisidor">
            
            </div>
                    <div class="movbot4">
                        <a href="http://127.0.0.1:1234/pag"><button> Inicio </button></a>
                    </div>
    
                </div>

        </div> 

</body>
</html>