<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jefe Maestro</title>
    <link rel="stylesheet" href="static\css\jefe.css">
</head>
<body>

    <header class="container">
        <div class="headerI">
            <img class="logo1" src="{{ url_for('static', filename='img/ONI_Logo.png') }}" alt="Left Image" class="left-image"> <!-- Ajusta la ruta de la imagen izquierda -->
            <h1 class="title1">UNSC</h1>
            <img class="logo2" src="{{ url_for('static', filename='img/UNSC_Logo.png') }}" alt="Right Image" class="right-image"> <!-- Ajusta la ruta de la imagen derecha -->
        </div>
        
    </header>

    <p class="subtitle">United Nations Space Command</p>

    <ul class="ul1">
        <li>J</li>
        <li>E</li>
        <li>F</li>
        <li>E</li>
        <li class="space"></li>
        <li>M</li>
        <li>A</li>
        <li>E</li>
        <li>S</li>
        <li>T</li>
        <li>R</li>
        <li>O</li>

        
    </ul>

    
    <main>
        <div class="container1">
        <div class="info1">
            <p class="info2">[Informe - Suboficial Jefe Maestro, John-117]</p>
            <p class="info3">Por el Departamento de Servicios de Inteligencia del UNSC</p>
            
            <div class="contenedor2">
                <p class="info4">Nombre: Suboficial Jefe Maestro John-117</p>
                <p class="info4">Código de Identificación: S-117</p>
                <p class="info4">Rama: SPARTAN-II, Armada del UNSC</p>
                <p class="info4">Fecha de Nacimiento: Clasificado</p>
                <p class="info4">Lugar de Nacimiento: Eridanus II (clasificado)</p>
            </div>

            <div class="contenedor3">
                <p class="info5">Carrera Militar:</p>
                <p class="info5">El Suboficial Jefe Maestro John-117 es el principal protagonista en el conflicto contra la amenaza Covenant y se ha distinguido como el SPARTAN-II más destacado en la historia del UNSC. Su carrera militar abarca más de tres décadas, durante las cuales ha participado en numerosas campañas cruciales para la supervivencia de la humanidad.</p>
            </div>

            <div class="contenedor4">
                <p class="info6">Orígenes y Entrenamiento:</p>
                <p class="info6">Nacido en Eridanus II, el Jefe Maestro fue seleccionado para el programa SPARTAN-II a una edad temprana. Sometido a un riguroso entrenamiento físico y mental, demostró habilidades excepcionales desde sus primeros días. Su adaptabilidad, inteligencia táctica y resistencia física lo destacaron entre sus compañeros SPARTAN-II.</p>
            </div>

            <div class="contenedor5">
                <p class="info7">Batallas Destacadas:</p>
            </div>

            <div class="contenedor6">
                <p class="info8">- Operación: PROMETEO (2525): El Jefe Maestro demostró sus habilidades en combate en la primera misión conocida, liderando a los SPARTAN-II en una operación exitosa contra fuerzas insurreccionistas.</p>
                <p class="info8">- Batalla de Reach (2552): En la defensa del último bastión humano, Reach, el Jefe Maestro lideró acciones clave para retrasar el avance Covenant, permitiendo la evacuación de civiles y personal militar vital.</p>
                <p class="info8">- Campaña del Anillo (2552): En la icónica misión en el anillo Halo, el Jefe Maestro evitó la activación de los anillos y enfrentó al Covenant y los Flood, asegurando la supervivencia de la humanidad.</p>
            </div>

            <div class="contenedor7">
                <p class="info9">Equipamiento y Habilidades:</p>
            </div>

            <div class="contenedor8">
                <p class="info10">- Armamento: El Jefe Maestro es experto en el uso de una variedad de armas UNSC y Covenant. Además, su preferencia por el Rifle de Asalto y la Mjolnir Powered Assault Armor es conocida.</p>
                <p class="info10">- Habilidades Mejoradas: Gracias a las modificaciones genéticas y el uso de la Mjolnir, el Jefe Maestro posee fuerza, velocidad y resistencia sobrehumanas.</p>
            </div>

            <div class="contenedor9">
                <p class="info11">Reconocimientos y Condecoraciones:</p>
                <p class="info11">El Jefe Maestro ha sido condecorado con la Medalla de Servicio Distinguido, la Medalla de Supervivencia al Combate y numerosas menciones honoríficas por su valentía y liderazgo en el campo de batalla.</p>
                
            </div>
            

            <div class="contenedor10">
                <p class="info12">Estado Actual: [Clasificado]</p>
            </div>

            <div class="contenedor11">
                <p class="info13">[FIN DEL INFORME]</p>
            </div>

        </div>
        
    </main>

    <div class="conimg">
        <img class="img1" src="{{ url_for('static', filename='img/Master Chief_PersonalFile.jpg') }}" alt="Master Chief">
    </div>

                    
                    
                        <div class="movbot">
                            <a href="http://127.0.0.1:1234/pag"><button> Inicio </button></a>
                        </div>

                   
                    

                    
        </div>

      

        
</body>
</html>