<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Johnson</title>
    <link rel="stylesheet" href="static\css\johnson.css">
</head>
<body>
    <header class="container">
        <div class="headerI">
            <img class="logo1" src="{{ url_for('static', filename='img/ONI_Logo.png') }}" alt="Left Image" class="left-image"> <!-- Ajusta la ruta de la imagen izquierda -->
            <h1 class="title1">UNSC</h1>
            <img class="logo2" src="{{ url_for('static', filename='img/UNSC_Logo.png') }}" alt="Right Image" class="right-image"> <!-- Ajusta la ruta de la imagen derecha -->
        </div>
        
    </header>

    <p class="subtitle">United Nations Space Command</p>


    <ul class="ul1">
        <li>S</li>
        <li>G</li>
        <li>T</li>
        <li>.</li>
        <li class="space"></li>
        <li>J</li>
        <li>O</li>
        <li>H</li>
        <li>N</li>
        <li>S</li>
        <li>O</li>
        <li>N</li>
    </ul>


       
    <main>
        <div class="info1">
            <p class="info2">[Informe - Sgt. Mayor Avery J. Johnson]</p>
            <p class="info3">Por el Departamento de Servicios Militares del UNSC</p>
            
            <div class="contenedor2">
                <p class="info4">Nombre: Avery Junior Johnson</p>
                <p class="info4">Rango: Sargento Mayor</p>
                <p class="info4">Fecha de Nacimiento: 19 de enero de 2511</p>
                <p class="info4">Fecha de Fallecimiento: 3 de noviembre de 2552</p>
                <p class="info4">Lugar de Nacimiento: Chicago, Tierra</p>
            </div>

            <div class="contenedor3">
                <p class="info5">Información Militar:</p>
            </div>

            <div class="contenedor4">
                <p class="info6">- Rama Militar: Cuerpo de Marines del UNSC</p>
                <p class="info6">- Asignación Inicial: 105º Batallón de Marines</p>
                <p class="info6">- Destacado en: Campaña del Anillo, Batalla de Reach, Operación: GUARDIÁN ALFA</p>
            </div>
            
            <div class="contenedor5">
                <p class="info7">Carrera Militar:</p>
                <p class="info7">Sargento Mayor Avery Johnson se distinguió por su valentía y liderazgo excepcional en diversas campañas militares. Desde su ingreso al Cuerpo de Marines, Johnson participó en numerosas misiones críticas, destacándose como un líder respetado.</p>
            </div>

            <div class="contenedor6">
                <p class="info8">Participación en la Campaña del Anillo:</p>
                <p class="info8">Durante la Campaña del Anillo, Johnson jugó un papel crucial en la defensa contra las fuerzas Covenant. Su destacada actuación en la Batalla de Alpha Halo lo convirtió en un símbolo de resistencia y determinación.</p>
            </div>

            <div class="contenedor7">
                <p class="info9">Batalla de Reach y Operación: GUARDIÁN ALFA:</p>
                <p class="info9">Johnson lideró las fuerzas del UNSC en la Batalla de Reach, enfrentando valientemente a las fuerzas Covenant. Posteriormente, desempeñó un papel fundamental en la Operación: GUARDIÁN ALFA, contribuyendo a la victoria en la Batalla de la Tierra.</p>
            </div>


            <div class="contenedor8">
                <p class="info10">Honores y Condecoraciones:</p>
            </div>

            <div class="contenedor9">
                <p class="info11">- Cruz de Servicio Distinguido</p>
                <p class="info11">- Medalla del Corazón Púrpura</p>
                <p class="info11">- Cruz de Vuelo del UNSC</p>
                <p class="info11">- Medalla de Honor del Cuerpo de Marines</p>
            </div>

            <div class="contenedor10">
                <p class="info12">Fallecimiento y Legado:</p>
                <p class="info12">El Sargento Mayor Johnson sacrificó su vida en la Batalla de Installation 04 para garantizar el éxito de la misión. Su legado perdura como un ícono de coraje y sacrificio, siendo condecorado póstumamente por su servicio ejemplar.</p>
            </div>

            <div class="contenedor11">
                <p class="info13">Estado Actual: [Clasificado]</p>
            </div>

            <div class="contenedor12">
                <p class="info14">[FIN DEL INFORME]</p>
            </div>

        </main>
        
        
            <div class="conimg3">
            <img class="img3" src="{{ url_for('static', filename='img/Sgt. Johnson_PersonalFile.jpg') }}" alt="Sgt. Avery Johnson">
            
            </div>

                <div class="movbot3">
                    <a href="http://127.0.0.1:1234/pag"><button> Inicio </button></a>
                </div>

            </div>
    </div>
</body>
</html>